.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-style: italic;
  margin: 0 auto 0 111px;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 41px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}.u-section-3 .u-sheet-1 {
  min-height: 284px;
}